# Flutter
client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/pubspec.lock

# Go
server/dove6_server
server/*.exe

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db
*.log
